@import url(https://use.typekit.net/sxz7gvj.css);


/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

h1 {
  margin: 30px 0px 30px 0px;
}

img {
  width: 80px;
}

/* Banner styles */
.bannerContainer {
  overflow: hidden; /* Hide overflow content */
}

.sliding-background {
  background: url("images/bannerImage.png") repeat-x;
  height: 50px;
  width: 5076px;
  animation: slide 16s linear infinite;
  white-space: nowrap; /* Prevent line breaks */
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}