/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family:'harman', sans-serif;
}

h1 {
  margin: 30px 0px 30px 0px;
}

img {
  width: 80px;
}

@font-face {
  font-family: 'harman';
  src: url('fontPackages/52135.otf') format('opentype');
  font-weight: normal;
  font-size: normal;
}
/* end of global Styles */


/* Banner styles */
.bannerContainer {
  overflow: hidden; /* Hide overflow content */
  max-width: 800px;
  min-width: 480px;
  width: auto;
}

.sliding-background {
  background: url("images/bannerImage.png") repeat-x;
  height: 50px;
  width: 5076px;
  animation: slide 24s linear infinite;
  white-space: nowrap; /* Prevent line breaks */
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
/* End of banner styles */


/* Footer Styles */
.footerContainer {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: #709AB4;
  justify-content: center;
  align-items: center;
  gap: 23px;
  flex-wrap: wrap;
  padding: 10px 0px 10px 0px;
  flex-shrink: 2;

  max-width: 800px;
  min-width: 480px;
  width: 100%;
}

.containerRight {
  display: flex;
  flex-direction: column;
}

.bigContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
i {
  width: 30px;
}

/* End of footer Styles */


/*

/* Default Design
.gfg-div {
 
  /* To make all elements center
  display: flex;
  justify-content: center;
  align-items: center;

  /* Default Styling
  margin: 20px auto;
  padding: 30px;
  font-size: 30px;
  width: 300px;
  height: 300px;
  background-color: darkseagreen;
  color: black;
}

/* For Desktop View
@media screen and (min-width: 1024px) {
  .gfg-div {
      background-color: #63c971;
      color: #fff;
  }
}

/* For Tablet View
@media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
  .gfg-div {
      width: 400px;
      height: 400px;
      background-color: orange;
      color: black;
  }
}

/* For Mobile Portrait View
@media screen and (max-device-width: 480px)
  and (orientation: portrait) {
  .gfg-div {
      width: 200px;
      height: 200px;
      background-color: red;
      color: #fff;
  }
}

/* For Mobile Landscape View
@media screen and (max-device-width: 640px)
  and (orientation: landscape) {
  .gfg-div {
      width: 400px;
      height: 200px;
      background-color: cyan;
      color: black;
  }
}

/* For Mobile Phones Portrait or Landscape View
@media screen
  and (max-device-width: 640px) {
  .gfg-div {
      width: 400px;
      height: 200px;
      background-color: chartreuse;
      color: black;
  }
}

/* For iPhone 4 Portrait or Landscape View
@media screen and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
      width: 400px;
      height: 400px;
      background-color: brown;
      color: black;
  }
}

/* For iPhone 5 Portrait or Landscape View
@media (device-height: 568px)
  and (device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
      width: 400px;
      height: 400px;
      background-color: cornflowerblue;
      color: black;
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View
@media (min-device-height: 667px)
  and (min-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .gfg-div {
      width: 400px;
      height: 400px;
      background-color: darkgoldenrod;
      color: black;
  }
};

