/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family:'harman', sans-serif;
}
.name {
  font-family:'harman', sans-serif;

}

#gap {
  padding-left: 8px;
}

h1 {
  margin: 30px 0px 30px 0px;
}

img {
  width: 80px;
}

a {
  text-decoration: none;
  color: #709AB4;
}

p {
  font-family: 'something', sans-serif;
}

/* global font imports */
@font-face {
  font-family: 'harman';
  src: url('fontPackages/52135.otf') format('opentype');
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: 'something';
  src: url('fontPackages/2007.otf') format('opentype');
  font-weight: normal;
  font-size: normal;
}
/* end of global Styles */

/* For Desktop View */
@media screen and (min-width: 1024px) {
    /* Footer Styles */
  .footerContainer, .footerContainerBottom {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: #709AB4;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px 10px 0px;

    max-width: 900px;
    width: 100%;
  }
  .footerContainerBottom {
    flex-direction: column;
    color: #709AB4;
  }
  .member {
    background-color: white;
    width: 180px;
    border: #709AB4 solid 5px;
    border-radius: 8px;
    margin-top: 20px;
  }

  .socialMediaIcons {
    display: flex;
    gap: 15px;

  }

  .footerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 25px;
  }

  .divider {
    border-top: 1px solid #709AB4;
    margin: 10px 0px;
    color: #709AB4;
  }
  #divider {
    width: 800px;
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

  }


  .containerRight {
    display: flex;
    flex-direction: column;
  }
  .containerLeft > img {
    width: 100px;
  }

  .bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  i {
    width: 30px;
  }
/* End of footer Styles */
/* Banner styles */
.bannerContainer {
  overflow: hidden; /* Hide overflow content */
  max-width: 900px;
  width: auto;
}

.sliding-background {
  background: url("images/bannerImage.png") repeat-x;
  height: 50px;
  width: 5076px;
  animation: slide 24s linear infinite;
  white-space: nowrap; /* Prevent line breaks */
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
/* End of banner styles */

}

For Tablet View
@media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {

}

/* For Mobile Portrait View
@media screen and (max-device-width: 480px)
  and (orientation: portrait) {
  .gfg-div {
      width: 200px;
      height: 200px;
      background-color: red;
      color: #fff;
  }
}

/* For Mobile Landscape View
@media screen and (max-device-width: 640px)
  and (orientation: landscape) {
  .gfg-div {
      width: 400px;
      height: 200px;
      background-color: cyan;
      color: black;
  }
}